// Edit Overlay

.edit-overlay {
  
}

.edit-mode {
  border: 3px solid rgba(#CCC, .35);
  position: relative;
  .feature-posts & {
    //margin: .25em;  
  }
  &:hover {
    border: 3px solid rgba(#CCC, .75);
    .edit-icon {
      opacity: 1;
    }
  } 
}

.edit-controls {
  @include clearfix;
  position: absolute;
  top: 0;
  right: 0;
  height: 2.188em;
  height: auto; 
  width: 4.375em;
  width: auto;
  // < 480
  @media (max-width: $break-sm-phone) {
    display: flex;
    flex-direction: column-reverse;
    .edit-icon {
      display: block; 
    }
  }    
}

.edit-icon {
  background: #BBB;
  color: #403e3d !important;
  display: inline-block;
  font-weight: bold;
  float: left;  
  height: 30px; 
  width: 30px;    
  padding: 6px;
  transition: none;
  .icon {
    height: 100%;
    width: 100%;
    margin-right: 0;
    margin-left: 1px;
    top: -5px;    
  }
  &:last-child {
    //display: none;
    .icon {
      margin-left: 0;
      transform: rotate(24deg); 
    }
    &:hover {
      cursor: context-menu;
    }
  }
  &:hover,
  &:focus {
    background: #403e3d;
    color: #EEE !important;
  }  
  
}

.ContentBody .edit-button {
  &:hover {
    color: #333;
  }
}

// Edit Modal

.remodal[data-state="edit-mode"] {
  // for demo
  &:after {
    background: #262524;
    content: "";
    position: absolute;
    height: 48px;
    width: 80px;
    top: 0; 
    right: 0;
    z-index: 0;     
  }
  margin-bottom: 0;  
  //max-width: 90%;
  padding: 0;
  
  // Close Button
  .remodal-close {
    background-color: #403e3d;
    height: 48px;
    width: 48px;
    z-index: 1; 
    // X icon
    &:before {
      color: #a3a2a2;
      font-family:  inherit !important;
      font-size: 48px;
      font-weight: 400;
      line-height: 25px;  
      height: 48px;
      width: 48px;
      margin-left: 1px; 
      padding: 8px;
    }
    
    // hover
    &:hover {
      background-color: #504E4D;
    }  
  }
}

// 667
@media (min-width: $break-ml-phone) {
  .remodal[data-state="edit-mode"] {
    margin-bottom: 0;  
    max-width: 90%;
  }
}