// Color Variables

$scale-100: 1;
$scale-95: .95;
$scale-90: .9;
$scale-85: .85;
$scale-80: .8;
$scale-75: .75;
$scale-70: .7;
$scale-65: .65;
$scale-60: .6;
$scale-55: .55;
$scale-50: .5;
$scale-45: .45;
$scale-40: .4;
$scale-35: .35;
$scale-30: .3;
$scale-25: .25;
$scale-20: .2;
$scale-15: .15;
$scale-10: .1;
$scale-5: .05;
$scale-0: 0;

// Greyscale

$white-100: hsl(0, 0%, 100%);
$white-95: hsl(0, 0%, 95%);
$white-90: hsl(0, 0%, 90%);
$white-85: hsl(0, 0%, 85%);
$white-80: hsl(0, 0%, 80%);
$white-75: hsl(0, 0%, 75%);
$white-70: hsl(0, 0%, 70%);
$white-65: hsl(0, 0%, 65%);
$white-60: hsl(0, 0%, 60%);
$white-55: hsl(0, 0%, 55%);
$white-50: hsl(0, 0%, 50%);
$white-45: hsl(0, 0%, 45%);
$white-40: hsl(0, 0%, 40%);
$white-35: hsl(0, 0%, 35%);
$white-30: hsl(0, 0%, 30%);
$white-25: hsl(0, 0%, 25%);
$white-20: hsl(0, 0%, 20%);
$white-15: hsl(0, 0%, 15%);
$white-10: hsl(0, 0%, 10%);
$white-5: hsl(0, 0%, 5%);
$white-0: hsl(0, 0%, 0%);

// Greyscale w/ Alpha

$white-a-100: hsla(0, 0%, 100%, $scale-100);
$white-a-95: hsla(0, 0%, 100%, $scale-95);
$white-a-90: hsla(0, 0%, 100%, $scale-90);
$white-a-85: hsla(0, 0%, 100%, $scale-85);
$white-a-80: hsla(0, 0%, 100%, $scale-80);
$white-a-75: hsla(0, 0%, 100%, $scale-75);
$white-a-70: hsla(0, 0%, 100%, $scale-70);
$white-a-65: hsla(0, 0%, 100%, $scale-65);
$white-a-60: hsla(0, 0%, 100%, $scale-60);
$white-a-55: hsla(0, 0%, 100%, $scale-55);
$white-a-50: hsla(0, 0%, 100%, $scale-50);
$white-a-45: hsla(0, 0%, 100%, $scale-45);
$white-a-40: hsla(0, 0%, 100%, $scale-40);
$white-a-35: hsla(0, 0%, 100%, $scale-35);
$white-a-30: hsla(0, 0%, 100%, $scale-30);
$white-a-25: hsla(0, 0%, 100%, $scale-25);
$white-a-20: hsla(0, 0%, 100%, $scale-20);
$white-a-15: hsla(0, 0%, 100%, $scale-15);
$white-a-10: hsla(0, 0%, 100%, $scale-10);
$white-a-5: hsla(0, 0%, 100%, $scale-5);
$white-a-0: hsla(0, 0%, 100%, $scale-0);
