// Lazy Load Styles

.lazyload {
	opacity: 0;
}

.lazyloaded {
	opacity: 1;
	transition: opacity .3s;
}

// 667
@media (min-width: $break-ml-phone) {

  .lazyload {
    will-change: transform scale;
  	transform: scale(.8);
  }
  
  .lazyloaded {
  	transform: scale(1);
  	transition: opacity, .5s, scale 1s cubic-bezier(.42,.06,.65,.99);  	 
  }

}