// BG alignment

.bg-top {
  background-position: center top;
}

.bg-right {
  background-position: right center;
}

.bg-bottom {
  background-position: center bottom;
}

.bg-left {
  background-position: left center;
}

.bg-left-top {
  background-position: left top;
}

.bg-right-top {
  background-position: right top;
}

.bg-left-bottom {
  background-position: left bottom;
}

.bg-right-bottom {
  background-position: right bottom;
}
