// Margins

.m-0 {
  margin: 0;  
}

.m-0-important {
  margin: 0 !important; 
}

.m-tiny {
  margin: .313rem; 
}

.m-sm {
  margin: .625rem; 
}

.m-1 {
  margin: 1rem; 
}

.m-2 {
  margin: 2rem; 
}

.m-3 {
  margin: 3rem; 
}

//  Margin Bottom

.mb-0 {
  margin-bottom: 0; 
}

.mb-tiny {
  margin-bottom: .313rem; 
}

.mb-sm {
  margin-bottom: .625rem; 
}

.mb-1 {
  margin-bottom: 1rem;  
}

.mb-1-pt5 {
  margin-bottom: 1.5rem; 
}

.mb-2 {
  margin-bottom: 2rem;  
}

.mb-2-pt5 {
  margin-bottom: 2.5rem; 
}

.mb-3 {
  margin-bottom: 3rem;  
}

.mb-3-pt5 {
  margin-bottom: 3.5rem; 
}

.mb-4 {
  margin-bottom: 4rem;  
}


// Margin Right & Left

.mr-ml-a {
  margin-right: auto;
  margin-left: auto;  
}

.mr-ml-0 {
  margin-right: 0;
  margin-left: 0;  
}

.mr-ml-tiny {
  margin-right: .313rem;
  margin-left: .313rem;  
}

.mr-ml-sm {
  margin-right: .625rem;
  margin-left: .625rem; 
}

.mr-ml-1 {
  margin-right: 1rem;
  margin-left: 1rem;   
}

.mr-ml-2 {
  margin-right: 2rem;
  margin-left: 2rem;   
}

.mr-ml-3 {
  margin-right: 3rem;
  margin-left: 3rem;   
}

.mr-ml-4 {
  margin-right: 4rem;
  margin-left: 4rem;   
}

// Margin Right

.mr-tiny {
  margin-right: .313rem;
}

.mr-sm {
  margin-right: .625rem;
}

.mr-r {
  margin-right: 0;  
}

.mr-1 {
  margin-right: 1rem;  
}

.mr-2 {
  margin-right: 2rem;  
}

.mr-3 {
  margin-right: 3rem;  
}

.mr-4 {
  margin-right: 4rem;  
}


// Margin Left

.ml-tiny {
  margin-left: .313rem;  
}

.ml-sm {
  margin-left: .625rem; 
}

.ml-l {
  margin-left: 0; 
}

.ml-1 {
  margin-left: 1rem;  
}

.ml-2 {
  margin-left: 2rem;  
}

.ml-3 {
  margin-left: 3rem;  
}

.ml-4 {
  margin-left: 4rem;  
}
  


// > 480
@media (min-width: $break-sm-phone) {
  // Margins

  .sm-m-0 {
    margin: 0;  
  }
  
  //  Margin Bottom
  
   .sm-mb-0 {
    margin-bottom: 0; 
  }
  
  
  .sm-mb-tiny {
    margin-bottom: .313rem; 
  }
  
  .sm-mb-sm {
    margin-bottom: .625rem; 
  }
  
  .sm-mb-1 {
    margin-bottom: 1rem;  
  }
  
  .sm-mb-2 {
    margin-bottom: 2rem;  
  }
  
  .sm-mb-3 {
    margin-bottom: 3rem;  
  }
  
  .sm-mb-4 {
    margin-bottom: 4rem;  
  }
  
  
  // Margin Right & Left
  
  .sm-mr-ml-a {
    margin-right: auto;
    margin-left: auto;  
  }
  
  .sm-mr-ml-0 {
    margin-right: 0;
    margin-left: 0;  
  }
  
  .sm-mr-ml-tiny {
    margin-right: .313rem;
    margin-left: .313rem;  
  }
  
  .sm-mr-ml-sm {
    margin-right: .625rem;
    margin-left: .625rem; 
  }
  
  .sm-mr-ml-1 {
    margin-right: 1rem;
    margin-left: 1rem;   
  }
  
  .sm-mr-ml-2 {
    margin-right: 2rem;
    margin-left: 2rem;   
  }
  
  .sm-mr-ml-3 {
    margin-right: 3rem;
    margin-left: 3rem;   
  }
  
  .sm-mr-ml-4 {
    margin-right: 4rem;
    margin-left: 4rem;   
  }
  
  // Margin Right
  
  .sm-mr-0 {
    margin-right: 0; 
  }
  
  .sm-mr-tiny {
    margin-right: .313rem;
  }
  
  .sm-mr-sm {
    margin-right: .625rem;
  }
  
  .sm-mr-1 {
    margin-right: 1rem;  
  }
  
  .sm-mr-2 {
    margin-right: 2rem;  
  }
  
  .sm-mr-3 {
    margin-right: 3rem;  
  }
  
  .sm-mr-4 {
    margin-right: 4rem;  
  }
  
  
  // Margin Left
  
  .sm-ml-0 {
    margin-left: 0; 
  }
  
  .sm-ml-tiny {
    margin-left: .313rem;  
  }
  
  .sm-ml-sm {
    margin-left: .625rem; 
  }
  
  .sm-ml-1 {
    margin-left: 1rem;  
  }
  
  .sm-ml-2 {
    margin-left: 2rem;  
  }
  
  .sm-ml-3 {
    margin-left: 3rem;  
  }
  
  .sm-ml-4 {
    margin-left: 4rem;  
  }
}

// > 768
@media (min-width: $break-lg-phone) {
  // Margins

  .md-m-0 {
    margin: 0;  
  }
  
  //  Margin Bottom
  
  .md-mb-0 {
    margin-bottom: 0; 
  }  
  
  .md-mb-tiny {
    margin-bottom: .313rem; 
  }
  
  .md-mb-sm {
    margin-bottom: .625rem; 
  }
  
  .md-mb-1 {
    margin-bottom: 1rem;  
  }
  
  .md-mb-2 {
    margin-bottom: 2rem;  
  }
  
  .md-mb-3 {
    margin-bottom: 3rem;  
  }
  
  .md-mb-4 {
    margin-bottom: 4rem;  
  }
  
  
  // Margin Right & Left
  
  .md-mr-ml-a {
    margin-right: auto;
    margin-left: auto;  
  }
  
  .md-mr-ml-0 {
    margin-right: 0;
    margin-left: 0;  
  }
  
  .md-mr-ml-tiny {
    margin-right: .313rem;
    margin-left: .313rem;  
  }
  
  .md-mr-ml-sm {
    margin-right: .625rem;
    margin-left: .625rem; 
  }
  
  .md-mr-ml-1 {
    margin-right: 1rem;
    margin-left: 1rem;   
  }
  
  .md-mr-ml-2 {
    margin-right: 2rem;
    margin-left: 2rem;   
  }
  
  .md-mr-ml-3 {
    margin-right: 3rem;
    margin-left: 3rem;   
  }
  
  .md-mr-ml-4 {
    margin-right: 4rem;
    margin-left: 4rem;   
  }
  
  // Margin Right
  
  .md-mr-0 {
    margin-right: 0; 
  }
  
  .md-mr-tiny {
    margin-right: .313rem;
  }
  
  .md-mr-sm {
    margin-right: .625rem;
  }
  
  .md-mr-1 {
    margin-right: 1rem;  
  }
  
  .md-mr-2 {
    margin-right: 2rem;  
  }
  
  .md-mr-3 {
    margin-right: 3rem;  
  }
  
  .md-mr-4 {
    margin-right: 4rem;  
  }
  
  
  // Margin Left
  
  .md-ml-0 {
    margin-left: 0; 
  }
  
  .md-ml-tiny {
    margin-left: .313rem;  
  }
  
  .md-ml-sm {
    margin-left: .625rem; 
  }
  
  .md-ml-1 {
    margin-left: 1rem;  
  }
  
  .md-ml-2 {
    margin-left: 2rem;  
  }
  
  .md-ml-3 {
    margin-left: 3rem;  
  }
  
  .md-ml-4 {
    margin-left: 4rem;  
  }
}

// > 992
@media (min-width: $break-md-screen) {
  // Margins

  .lg-m-0 {
    margin: 0;  
  }
  
  //  Margin Bottom
  
  .lg-mb-0 {
    margin-bottom: 0; 
  }
  
  .lg-mb-tiny {
    margin-bottom: .313rem; 
  }
  
  .lg-mb-sm {
    margin-bottom: .625rem; 
  }
  
  .lg-mb-1 {
    margin-bottom: 1rem;  
  }
  
  .lg-mb-2 {
    margin-bottom: 2rem;  
  }
  
  .lg-mb-3 {
    margin-bottom: 3rem;  
  }
  
  .lg-mb-4 {
    margin-bottom: 4rem;  
  }
  
  
  // Margin Right & Left
  
  .lg-mr-ml-a {
    margin-right: auto;
    margin-left: auto;  
  }
  
  .lg-mr-ml-0 {
    margin-right: 0;
    margin-left: 0;  
  }
  
  .lg-mr-ml-tiny {
    margin-right: .313rem;
    margin-left: .313rem;  
  }
  
  .lg-mr-ml-sm {
    margin-right: .625rem;
    margin-left: .625rem; 
  }
  
  .lg-mr-ml-1 {
    margin-right: 1rem;
    margin-left: 1rem;   
  }
  
  .lg-mr-ml-2 {
    margin-right: 2rem;
    margin-left: 2rem;   
  }
  
  .lg-mr-ml-3 {
    margin-right: 3rem;
    margin-left: 3rem;   
  }
  
  .lg-mr-ml-4 {
    margin-right: 4rem;
    margin-left: 4rem;   
  }
  
  // Margin Right
  
  .lg-mr-0 {
    margin-right: 0; 
  }
  
  .lg-mr-tiny {
    margin-right: .313rem;
  }
  
  .lg-mr-sm {
    margin-right: .625rem;
  }
  
  .lg-mr-1 {
    margin-right: 1rem;  
  }
  
  .lg-mr-2 {
    margin-right: 2rem;  
  }
  
  .lg-mr-3 {
    margin-right: 3rem;  
  }
  
  .lg-mr-4 {
    margin-right: 4rem;  
  }
  
  
  // Margin Left
  
  .lg-ml-0 {
    margin-left: 0; 
  }
  
  .lg-ml-tiny {
    margin-left: .313rem;  
  }
  
  .lg-ml-sm {
    margin-left: .625rem; 
  }
  
  .lg-ml-1 {
    margin-left: 1rem;  
  }
  
  .lg-ml-2 {
    margin-left: 2rem;  
  }
  
  .lg-ml-3 {
    margin-left: 3rem;  
  }
  
  .lg-ml-4 {
    margin-left: 4rem;  
  }
}