// Multi Level Nav

// < 667
@media (max-width: $break-ml-phone) {
  .js-nav .nav-collapse.multiple-level-nav.opened.dropdown-active {
    max-height: 9999px !important;
  }
  

  .js-nav .nav-collapse.multiple-level-nav .sub-menu {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: none; /* This way you don't have focus on sub menu items unless you open the sub menu. */
    overflow: hidden;
    zoom: 1;
    li {
      line-height: normal;
    }
  }

  .js-nav .nav-collapse.multiple-level-nav .sub-menu.toggled {
    display: block;  
    max-height: 5000px;
    position: relative;
    opacity: 1;
    z-index: 2;
    transition: max-height .4s ease; 
  }
  
  .dropdown-toggle {
    background-color: transparent;
    background: #DDD; 
    border-radius: 0;
    border-left: 1px solid lighten(#CCC, 2%);
    content: "";
    height: 51px;
    width: 3.125em;
    padding: 0;
    position: absolute;
    margin: 0;
    text-transform: lowercase;
    transition: background .4s ease;
    top: 0;
    right: 1px;
    z-index: 1002;
    .icon {
      fill: #777;
      height: 25px;
      width: 25px;  
      margin-right: 0;
      margin-left: 0;
      top: 0;
      left: .15em; 
      pointer-events: none;;  
    }
    &:hover,
    &:focus,
    &:active {
      
    }
    &.toggled  {
      .icon {
        transform: rotate(45deg);        
      }
    }
  }
// END
}

  

// Site Nav

.nav-collapse {
  max-height: 0;
  margin-bottom: 0; 
  overflow: hidden;
  list-style: none;
  text-align: left;
  width: 100%; 	
  & > ul {
    list-style: none;
    padding-top: 1.25rem; 
    width: 100%;
   }
  li {   
    width: 100%;
    position: relative;
    z-index: 1002;		
    & > a {  	  
  	  display: inline-block;
  	  background: #EEE;
			border-right: 1px solid #CCC;
			border-bottom: 1px solid #CCC;
			border-left: 1px solid #CCC;
  	  line-height: 1.5; 
  	  padding: 0.85em 0.5em 0.85em 0.7em;
  	  position: relative;   	
  	  width: 100%;
  	  text-decoration: none;
  	  transition: background .4s ease, 
  	              color .4s ease, 
  	              padding .4s ease;
      -webkit-font-smoothing: auto; 
  	}
  	&:last-child {
  		margin-bottom: 0; 
  	}
  }
  li[aria-haspopup="true"]:hover,
  li[aria-haspopup="true"]:focus {
  	z-index: 1001; 
  }
  & > ul > li {
    &:first-child > a  {
    	border-top: 1px solid #CCC;
  	}
  }
	// Submenu
  .sub-menu {
    padding-top: 0; 
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity .4s ease,
                max-height .4s ease;
    & > li {
  	   
  	  & > a { 
  		  padding: 0.75em;
  		  text-transform: none;
  		  transition: all .4s ease; 	
  		}
  	}
  	li:hover a {
  	
  	}
  	.sub-menu {
  		li > a {
        
        &:hover {
          
      	}
  		}
  		.dropdown-toggle {
      	&.toggled  {
          
        }
    	}
  	}
  	.dropdown-toggle {
    	&.toggled  {
        
      }
  	}
  }
	.active {
		a {
							
		}
	}
  li:hover {
		a {
			
		}			
	}
}

// Nav Toggle

.nav-toggle {
	display: block;
	border-radius: 4px;
  height: 40px;
  padding: 0;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  text-shadow: none;
  text-indent: -999px;
  user-select: none;
  max-width: 100px; 
  margin-right: auto;
  margin-bottom: 0; 
  margin-left: auto;  
  width: 100%; 
  -webkit-touch-callout: none;
  // This is where you chose the mobile icon, or button text.
  &:before {
  	border-radius: 4px;
  	background: #DDD;
    content: "menu";
    font: {
      weight: 500;
      size: 1em;
      family: $sans-serif;
      variant: normal;
    }
    position: absolute;
    top: 0;
    left: 0;   	
    speak: none;
    line-height: 40px;
    margin: 0 auto;
    text-indent: 0;
    text-align: center;    
    width: 100%; 
    transition: background .3s ease, width .4s ease;
    -webkit-font-smoothing: subpixel-antialiased;	
  }
}

// Nav Toggle Active

.nav-toggle.active {
  margin-top: 0;  
  width: 100%;    
  &:before {
  	content: 'close';
  	//font-size: 1.5em;
  	//font-family: $font-icon;
  	//font-weight: 500;  
    line-height: 40px;
    height: 40px;
     		
    text-shadow: none;
  }
}

// Custom Toggle Button

$box-size: 40px;
$color: #AAA;
$border-radius: 5px;


.center {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.nav-toggle-html {
  background: none; 
  background: #EEE;
  //border: 2px solid lighten($color, 30%);
  cursor: pointer;
  height: 46px; 
  margin-bottom: 0;   
  padding: 0;  
  position: relative;
  width: 56px;
  
  .nav-icon,
  .nav-icon:before,
  .nav-icon:after {
    transition: .3s ease-in-out;
  }

  .nav-icon {
    @extend .center;
    display: inline-block;
    background: $color;
    height: 4px;
    width: 60%;
    border-radius: $border-radius;

    &:before,
    &:after {
      content: '';
      background: $color;
      border-radius: $border-radius;
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;  
    }

    &:before {
      top: -$box-size/5;
    }

    &:after {
      top: $box-size/5;
    }
    
  }
  
  &.active {
    background: #BBB;
    .nav-icon {
      background-color: transparent;
      transform: scale(.7);
      //transform: rotate(-180deg);
      &:before {
        background: #FFF;
        top: 0;
        transform: rotate(45deg);
      }
      &:after {
        background: #FFF;
        top: 0;
        transform: rotate(-45deg);
      }
    }
  }
        
}

// < 320
@media (max-width: $break-tiny-phone) {
  .nav-toggle-html {
  	margin-right: auto;
  	margin-left: auto; 
	}
}


// Need to make this work w/o parent modifier class

.mobile-menu-2 {

  
  .logo {
    display: none;  
  }
  
  .alt-logo {
    display: block; 
  }
  
  .main-nav {
    flex: 1 0 100%;
    margin-bottom: 0;
    //width: 100%;   
  }
  
  // < 320
  @media (max-width: $break-tiny-phone) {
    
    .site-title {
      margin-bottom: .875rem; 
    }
    
    .header-logo {
      img {
        margin: 0 auto;  
      }
    }
    
  } 

  // > 320
  @media (min-width: $break-tiny-phone) {

    .site-title {   
      margin-bottom: 0;
      margin-right: 0;  
      margin-left: 0; 
      padding-top: 0;
      padding-bottom: 0;
      text-align: left;
      z-index: 1; 
  	}
  	
  	.main-nav {
      //float: right; 
      //margin-bottom: 0; 
      //width: 100%;       
    }
  
    .header-logo img {
      max-width: 6em; 
    }
	
  	.nav-toggle {
      align-self: center; 
      margin-right: 0;
      //margin-top: -40px;
      margin-left: auto; 
      max-width: 75px;
      &:before {
        font-size: 1em;   
      }
  	}
	
  }
  
  // > 480
  @media (min-width: $break-sm-phone) {
    
    .logo {
      display: block; 
    }
    
    .alt-logo {
      display: none;  
    }
    
  }
  

// > 667
@media (min-width: $break-ml-phone) {

  .site-title {
    //width: 20%;  
  }

  .site-title {
    flex: 1 0 20%;  
    //width: 80%;         
  }
  
  .user-status {
    flex: 0;
    flex: 1 0 auto;
    width: 25%; 
  }

  .main-nav {
    flex: 1 0 auto;
    width: 75%;            
  }
  
  .nav-toggle,
  .nav-toggle-html {
    display: none;  
  }
     
  .js-nav .nav-collapse,
  .nav-collapse {  
    max-height: 100%;
    height: auto;
    overflow: visible;
    .no-flexbox & {
      display: inline-block;  
    }
  }
  
  .dropdown ul ul {
    border: 0;
    padding: 0;
  }
  
  .nav-collapse {
    margin-bottom: 0; 
		& > ul {	
			display: flex;
			align-items: center;
			justify-content: flex-end; 
			padding-top: 0; 
			position: relative;	
			width: auto;
		}	
	  & > ul > li {
  	  display: flex;
		  flex: 0 1 auto; 
		  margin-left: 2em;
		  width: auto;  
	    .icon {
    		height: 20px;
    		width: 20px;
    		&.icon-home {
          height: 25px;
          width: 25px;  
        }   
    	}
		  & > a {
  		  background: none; 
  		  border: 1px solid transparent;			  
		    margin: 0;
		    padding-top: 5px;
		    padding-right: 0;
		    padding-bottom: 0;
		    padding-left: 0;
		    padding: .35rem .35rem .45rem;  
		    height: auto; 	
		    text-align: right;
		    position: relative;
		    transition: all .4s ease,
		                padding-top .4s ease;
		    z-index: 1001;
		  }
		  &:not(:first-child):hover > a {
		    border: 1px solid rgba(#539F9E, .4);
	    }
	    &.active:not(:first-child) > a {
		    color: #539F9E;
		    fill: #539F9E;
		  } 
		  &:nth-last-child(n+4), 
      &:nth-last-child(n+4) ~ * {
  
      }
      &:nth-last-child(n+6), 
      &:nth-last-child(n+6) ~ * {
        & > a { 
          font-size: .875em;
        }
      }
	  }
	  
	  // Sub Menu
	  	
		.sub-menu {
  		//display: none;  
		  position: absolute;
		  top: 0;
		  right: 0; 
		  padding-top: 1rem;
		  pointer-events: none;
		  width: 100%;
		  max-height: 0;
		  width: 200px;
		  transition: opacity .4s ease,
                  max-height .4s ease,
                  padding .3s cubic-bezier(.55,.26,.5,.81);
		  z-index: 1000;
		  & > li {
			  display: block;			  
			  width: 100%;
			  z-index: 1000;  				  
				& > a {
  				background: #EEE;
  				border-right: 1px solid #CCC;
  				border-bottom: 1px solid #CCC;
  				border-left: 1px solid #CCC;
  				//box-shadow: 4px 4px 0 rgba(black, .1);	
					display: block;
					font-size: .75rem;  
					height: auto;  
					text-align: left;					
					padding: .75rem;
					width: 100%;  
					visibility: visible;						
				}
				&:hover > a {
  				background: #DDD;
        }	
				&:first-child > a {
					border-top: 1px solid #CCC;
				}			
			}
			// Sub Menu Dropdown
			& > li.focus-nav {
  			.sub-menu {
    			display: block;
    			max-height: 999px;
    			opacity: 1;   
    			padding-top: 0;   
  			}
			}
			
			// Sub Sub Menu
			
			.sub-menu {
  			//display: none;  
  			//opacity: 1;
  			max-height: 0;
  			padding-top: 0;   
    		top: -1px; 
    		left: 199px;
    		//position: relative;   
    		li > a {
      		background: #DDD; 
          &:hover {
            background: #EEE; 
        	}        		
    		} 
  		}
	  }
	  
	  // Last Nav Item
	  
	  & > ul > li:last-child,
	  & > ul > li:nth-last-child(2) {	  
  	  & > .sub-menu {
  			left: auto;
  			right: 0;
  			li > a {
    			//box-shadow: -4px 4px 0 rgba(black, .1);
  			}
  			.sub-menu {
    			left: auto;
    			right: 199px; 
  			}  
  		}
		}
		
		// Hover State
		
		& > ul > li:hover,
		& > ul > li:focus {
			cursor: pointer;
			& > a {
				
			}			
		}
		
		// Dropdown
		
		.dropdown-toggle {
  		display: none;  
      background: transparent;
      height: auto;
      width: auto;   
      padding-top: 0;
      padding-right: 0;
      padding-bottom: 0;
      padding-left: .5rem;  
      .icon {
        margin: 0;
        height: 1rem;
        width: 1rem;    
      }  
    }
		
		& > ul > li[aria-haspopup="true"] {
  		 
  		//position: relative;
  		> a {
    		//position: relative;
    		//z-index: 1002;
  		}
  		.dropdown-toggle {
    		//display: none;  
  		}
			& > a:after {
			  //content: '\e818';
        //font-family: $font-icon;
        //font-size: 0.875em;
        //padding-left: 0.5em;
        //width: 0.938em;	
			}
		}
		
		.sub-menu > li[aria-haspopup="true"] {
  		& > a {
    		//display: table;
  		}
			&:after {
        display: none; 
  			background: url('../images/UI/ui-icons/icon-caret-down.svg') no-repeat center #DDD;
  			background-size: 15px;
  			position: absolute;
  			top: 0;
  			right: 0;
  			height: calc(100% - 1px);
  			width: 40px;
  			//z-index: 1003; 			
			  content: '';
        font-size: 1.125em;
        padding-left: 0;
        text-align: right;
        //default style
        //content: '\e818';
        //display: table-cell;
        //font-family: $font-icon;
        //font-size: 0.875em;
        //padding-left: 0.5em;
        //width: 0.938em;	
			}
			&.focus-nav {
  			& > a:after {
  			  //content: '\e804';
  		  }
			}
		}
		
		
		// Dropdown Hover
		
		& > ul > li[aria-haspopup="true"]:hover {
  		& > .sub-menu {
    		z-index: 9999;
    }
		}
		
		& > ul > li[aria-haspopup="true"]:hover {
  		& > .sub-menu {
    		z-index: 9998;
      }
		}
		
		
		
		& > ul > li[aria-haspopup="true"]:hover,
		& > ul > li[aria-haspopup="true"]:focus {  		
			& > .sub-menu {
				padding-top: 2.75rem;
				pointer-events: all;
				//display: block;   
				max-height: 9999px;
				opacity: 1;
				overflow: visible;
				    
			}  
		}
		
		.sub-menu > li[aria-haspopup="true"]:hover,
		.sub-menu > li[aria-haspopup="true"]:focus {
  		& > .sub-menu {
    		//display: block;
    		pointer-events: all; 
				max-height: 9999px;
				opacity: 1;
				overflow: visible;  
			}
		}
	}  
}

// > 1600
@media (min-width: $break-xl-screen) {
  .nav-collapse {
    float: right; 
    max-width: 65em;
    width: 100%;     
    & > ul > li {
  	  &:nth-last-child(n+4), 
      &:nth-last-child(n+4) ~ * {
        flex: 1 0 auto;
        //margin-left: 4em; 
      }  
    }
  }
}

 // fallbacks
 
.no-flexbox {
  .mobile-menu-2 { 
    .site-title
    .main-nav {
      display: inline-block; 
    }
  }
  
  // > 320
  @media (min-width: $break-tiny-phone) {
    .site-title {
      float: left;  
      text-align: left; 
    }
    .main-nav {
      float: right;     
      width: 100%;   
    }
    .nav-toggle {
      float: right; 
      margin: 0;  
    }  
  }
  
  // > 667
  @media (min-width: $break-ml-phone) {
    
    .site-title {
      //line-height: 30px;  
     // width: 15%; 
    }
    
    .main-nav {
      //line-height: 30px;  
      //width: 85%; 
    }
    
    .nav-collapse {
    	display: inline-block; 
    	@include clearfix;
    	& > ul {
      	display: inline-block;
      	float: right;   
      	width: auto;
      	& > li {
         	float: left;
         	margin-left: 2em;
         	// 900
         	@media (min-width: $break-900) {
           	margin-left: 3em;  
         	}
         	// 1200
         	@media (min-width: $break-lg-screen) {
           	margin-left: 4em;  
         	} 
      	}     
    	}      	 
  	}  	
  }
  
  }   
   
}