/* --- Main Content --- */

.site-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  background: #F9F9F9;
  flex: 1 0 auto;
  width: 100%;  
}


// Page Layout
.page-content,
.page-sidebar {
	display: inline-block;
	width: 100%;
	&:last-child {
		margin-bottom: 0;
	}		
}

// Page Sidebar
.page-sidebar {
	background-color: #EEE;
	border-radius: 0.625em;	
	padding: 0 0.75em 1em;	
	&:empty {
		display: none;	
	}
}

// Two Col
.two-col {
	.page-content {
		padding-bottom: 2em;
	}
	// 800
	@media (min-width: 800px) {
		.container {
			display: flex;
		}
		.page-content {
			padding-right: 2em;
			padding-bottom: 0;
			width: 64%;				
		}
		.page-sidebar {
			padding: 1em;	
			width: 35%;	
		}	
	}
	// 992
	@media (min-width: $break-md-screen) {
		.page-content {
			padding-bottom: 0;	
		}
	}	
}
