// Footer Styles

.site-footer {
  background: #FFF;
  position: relative; 
}

// Footer Logo

.footer-logo {
  line-height: 0;   
  width: 9em;  
}

// site copyright

.copyright {
  display: block; 
  font-size: 0.875em;
  margin-bottom: 0; 
}

// Footer Menu

.site-footer-menu {
  margin-bottom: 0;
}