.contact-form {
  // > 667
  @media (min-width: $break-ml-phone) {
    .form-wrap {
      display: flex;    
      align-items: stretch;
    }
    .form-group {        
      display: flex;
      flex-grow: 1;
      width: 50%; 
      &:nth-child(odd) {
        padding-right: 1rem;  
      }
      &:nth-child(even) {
        padding-left: 1rem;
        .input-row {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          //height: 100%; 
        }
        label {
          //flex-grow: 0;
        }
        textarea {
          flex-grow: 1;
          //height: 87%;  
          //height: calc(100% - 1.5rem);
        } 
      }
    }
  }
  // > 768
  @media (min-width: $break-lg-phone) {
    .form-group {
      &:nth-child(odd) {
        width: 40%; 
      }
      &:nth-child(even) {
        width: 60%;
      }
    }
    .submit-input {
      margin-right: 0;
      margin-left: auto;
      width: 20%; 
    }
  }
}