// ** Flex modifiers ** //

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}

// Flex Direction

.flex-d-col {
  flex-direction: column;
}

.flex-d-col-rev {
  flex-direction: column-reverse;
}

.flex-d-row {
  flex-direction: row;
}

.flex-d-row-rev {
  flex-direction: row-reverse
}

// Flex Alignment Items

.ai-start {
  align-items: flex-start;
}

.ai-end {
  align-items: flex-end;
}

.ai-center {
  align-items: center;
}

.ai-stretch {
  align-items: stretch;
}

// Flex Align Content

.ac-start {
  align-content: flex-start;
}

.ac-end {
  align-content: flex-end;
}

.ac-center {
  align-content: center;
}

.ac-stretch {
  align-content: stretch;
}

.ac-space-around {
  align-content: space-around;
}

.ac-space-between {
  align-content: space-between;
}

// Flex Justify Content

.jc-start {
  justify-content: flex-start;
}

.jc-end {
  justify-content: flex-end;
}

.jc-center {
  justify-content: center;
}

.jc-stretch {
  justify-content: stretch;
}

.jc-around {
  justify-content: space-around;
}

.jc-between {
  justify-content: space-between;
}

// Flex & Flex Grow

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-g-1 {
  flex-grow: 1;
}

.flex-g-2 {
  flex-grow: 2;
}

.flex-g-3 {
  flex-grow: 3;
}

.flex-g-4 {
  flex-grow: 4;
}

// > 480
@media (min-width: $break-sm-phone) {
  .sm-flex {
    display: flex;
  }
  
  .sm-flex-wrap {
    flex-wrap: wrap;
  }
  
  // Flex Direction
  
  .sm-flex-d-col {
    flex-direction: column;
  }
  
  .sm-flex-d-col-rev {
    flex-direction: column-reverse;
  }
  
  .sm-flex-d-row {
    flex-direction: row;
  }
  
  .sm-flex-d-row-rev {
    flex-direction: row-reverse
  }
  
  // Flex Alignment Items
  
  .sm-ai-start {
    align-items: flex-start;
  }
  
  .sm-ai-end {
    align-items: flex-end;
  }
  
  .sm-ai-center {
    align-items: center;
  }
  
  .sm-ai-stretch {
    align-items: stretch;
  }
  
  // Flex Align Content
  
  .sm-ac-start {
    align-content: flex-start;
  }
  
  .sm-ac-end {
    align-content: flex-end;
  }
  
  .sm-ac-center {
    align-content: center;
  }
  
  .sm-ac-stretch {
    align-content: stretch;
  }
  
  .sm-ac-space-around {
    align-content: space-around;
  }
  
  .sm-ac-space-between {
    align-content: space-between;
  }
  
  // Flex Justify Content
  
  .sm-jc-start {
    justify-content: flex-start;
  }
  
  .sm-jc-end {
    justify-content: flex-end;
  }
  
  .sm-jc-center {
    justify-content: center;
  }
  
  .sm-jc-stretch {
    justify-content: stretch;
  }
  
  .sm-jc-around {
    justify-content: space-around;
  }
  
  .sm-jc-between {
    justify-content: space-between;
  }
  
  // Flex & Flex Grow
  
  .sm-flex-1 {
    flex: 1;
  }
  
  .sm-flex-2 {
    flex: 2;
  }
  
  .sm-flex-3 {
    flex: 3;
  }
  
  .sm-flex-4 {
    flex: 4;
  }
  
  .sm-flex-g-1 {
    flex-grow: 1;
  }
  
  .sm-flex-g-2 {
    flex-grow: 2;
  }
  
  .sm-flex-g-3 {
    flex-grow: 3;
  }
  
  .sm-flex-g-4 {
    flex-grow: 4;
  }
}

// > 768
@media (min-width: $break-lg-phone) {
  .md-flex {
    display: flex;
  }
  
  .md-flex-wrap {
    flex-wrap: wrap;
  }
  
  // Flex Direction
  
  .md-flex-d-col {
    flex-direction: column;
  }
  
  .md-flex-d-col-rev {
    flex-direction: column-reverse;
  }
  
  .md-flex-d-row {
    flex-direction: row;
  }
  
  .md-flex-d-row-rev {
    flex-direction: row-reverse
  }
  
  // Flex Alignment Items
  
  .md-ai-start {
    align-items: flex-start;
  }
  
  .md-ai-end {
    align-items: flex-end;
  }
  
  .md-ai-center {
    align-items: center;
  }
  
  .md-ai-stretch {
    align-items: stretch;
  }
  
  // Flex Align Content
  
  .md-ac-start {
    align-content: flex-start;
  }
  
  .md-ac-end {
    align-content: flex-end;
  }
  
  .md-ac-center {
    align-content: center;
  }
  
  .md-ac-stretch {
    align-content: stretch;
  }
  
  .md-ac-space-around {
    align-content: space-around;
  }
  
  .md-ac-space-between {
    align-content: space-between;
  }
  
  // Flex Justify Content
  
  .md-jc-start {
    justify-content: flex-start;
  }
  
  .md-jc-end {
    justify-content: flex-end;
  }
  
  .md-jc-center {
    justify-content: center;
  }
  
  .md-jc-stretch {
    justify-content: stretch;
  }
  
  .md-jc-around {
    justify-content: space-around;
  }
  
  .md-jc-between {
    justify-content: space-between;
  }
  
  // Flex & Flex Grow
  
  .md-flex-1 {
    flex: 1;
  }
  
  .md-flex-2 {
    flex: 2;
  }
  
  .md-flex-3 {
    flex: 3;
  }
  
  .md-flex-4 {
    flex: 4;
  }
  
  .md-flex-g-1 {
    flex-grow: 1;
  }
  
  .md-flex-g-2 {
    flex-grow: 2;
  }
  
  .md-flex-g-3 {
    flex-grow: 3;
  }
  
  .md-flex-g-4 {
    flex-grow: 4;
  }
}

// > 992
@media (min-width: $break-md-screen) {
  .lg-flex {
    display: flex;
  }
  
  .lg-flex-wrap {
    flex-wrap: wrap;
  }
  
  // Flex Direction
  
  .lg-flex-d-col {
    flex-direction: column;
  }
  
  .lg-flex-d-col-rev {
    flex-direction: column-reverse;
  }
  
  .lg-flex-d-row {
    flex-direction: row;
  }
  
  .lg-flex-d-row-rev {
    flex-direction: row-reverse
  }
  
  // Flex Alignment Items
  
  .lg-ai-start {
    align-items: flex-start;
  }
  
  .lg-ai-end {
    align-items: flex-end;
  }
  
  .lg-ai-center {
    align-items: center;
  }
  
  .lg-ai-stretch {
    align-items: stretch;
  }
  
  // Flex Align Content
  
  .lg-ac-start {
    align-content: flex-start;
  }
  
  .lg-ac-end {
    align-content: flex-end;
  }
  
  .lg-ac-center {
    align-content: center;
  }
  
  .lg-ac-stretch {
    align-content: stretch;
  }
  
  .lg-ac-space-around {
    align-content: space-around;
  }
  
  .lg-ac-space-between {
    align-content: space-between;
  }
  
  // Flex Justify Content
  
  .lg-jc-start {
    justify-content: flex-start;
  }
  
  .lg-jc-end {
    justify-content: flex-end;
  }
  
  .lg-jc-center {
    justify-content: center;
  }
  
  .lg-jc-stretch {
    justify-content: stretch;
  }
  
  .lg-jc-around {
    justify-content: space-around;
  }
  
  .lg-jc-between {
    justify-content: space-between;
  }
  
  // Flex & Flex Grow
  
  .lg-flex-1 {
    flex: 1;
  }
  
  .lg-flex-2 {
    flex: 2;
  }
  
  .lg-flex-3 {
    flex: 3;
  }
  
  .lg-flex-4 {
    flex: 4;
  }
  
  .lg-flex-g-1 {
    flex-grow: 1;
  }
  
  .lg-flex-g-2 {
    flex-grow: 2;
  }
  
  .lg-flex-g-3 {
    flex-grow: 3;
  }
  
  .lg-flex-g-4 {
    flex-grow: 4;
  }
}


// Flex Order

.flex-lead {
  //flex: 1 0 100%;
  order: 1;
  width: 100%;  
}

.flex-sm {
  // > 540
  @media (min-width: $break-md-phone) {
    flex-grow: 0;
    width: auto;
  }
}