// Display Options

.hidden {
  display: none;  
}

.block {
  display: block; 
}

.inline {
  display: inline;  
}

.inline-block {
  display: inline-block;  
}

.table {
  display: table; 
}

.table-cell {
  display: table-cell
}

// Postion

.fixed {
  position: fixed;  
}

.absolute {
  position: absolute; 
}

.relative {
  position: relative; 
}

.static {
  position: static;
}


// Floats

.float-l {
  float: left;  
}

.float-r {
  float: left;  
}

// Width Sizes

.w-5 {
  width: 5%;  
}

.w-10 {
  width: 10%;  
}

.w-15 {
  width: 15%;  
}

.w-20 {
  width: 20%;  
}

.w-25 {
  width: 25%;  
}

.w-30 {
  width: 30%;  
}

.w-35 {
  width: 35%;  
}

.w-40 {
  width: 40%;  
}

.w-45 {
  width: 45%;  
}

.w-50 {
  width: 50%;  
}

.w-55 {
  width: 55%;  
}

.w-60 {
  width: 60%;  
}

.w-65 {
  width: 65%;  
}

.w-70 {
  width: 70%;  
}

.w-75 {
  width: 75%;  
}

.w-80 {
  width: 80%;  
}

.w-85 {
  width: 85%;  
}

.w-90 {
  width: 90%;  
}

.w-95 {
  width: 95%;  
}

.w-100 {
  width: 100%;  
}

.w-auto {
	width: auto; 
}

// Max-Width Sizes

.mw-2em {
  max-width: 2em;  
}

.mw-3em {
  max-width: 3em;  
}

.mw-4em {
  max-width: 4em;  
}

.mw-5em {
  max-width: 5em;  
}

.mx-6em {
  max-width: 6em; 
}

.mw-15em {
  max-width: 15em;  
}

.mw-25em {
  max-width: 25em;  
}

.mw-35em {
  max-width: 35em;  
}

// > 480
@media (min-width: $break-sm-phone) {
  
  // Display Options
  
  .sm-hidden {
    display: none;  
  }
  
  .sm-block {
    display: block; 
  }
  
  .sm-inline {
    display: inline;  
  }
  
  .sm-inline-block {
    display: inline-block;  
  }
  
  .sm-table {
    display: table; 
  }
  
  .sm-table-cell {
    display: table-cell
  }
  
  // Postion

  .sm-fixed {
    position: fixed;  
  }
  
  .sm-absolute {
    position: absolute; 
  }
  
  .sm-relative {
    position: relative; 
  }
  
  .sm-static {
    position: static;
  }
  
  // Floats
  
  .sm-float-none {
    float: none;  
  }

  .sm-float-l {
    float: left;  
  }
  
  .sm-float-r {
    float: left;  
  }

  // Width Sizes

  .sm-w-5 {
    width: 5%;  
  }
  
  .sm-w-10 {
    width: 10%;  
  }
  
  .sm-w-15 {
    width: 15%;  
  }
  
  .sm-w-20 {
    width: 20%;  
  }
  
  .sm-w-25 {
    width: 25%;  
  }
  
  .sm-w-30 {
    width: 30%;  
  }
  
  .sm-w-35 {
    width: 35%;  
  }
  
  .sm-w-40 {
    width: 40%;  
  }
  
  .sm-w-45 {
    width: 45%;  
  }
  
  .sm-w-50 {
    width: 50%;  
  }
  
  .sm-w-55 {
    width: 55%;  
  }
  
  .sm-w-60 {
    width: 60%;  
  }
  
  .sm-w-65 {
    width: 65%;  
  }
  
  .sm-w-70 {
    width: 70%;  
  }
  
  .sm-w-75 {
    width: 75%;  
  }
  
  .sm-w-80 {
    width: 80%;  
  }
  
  .sm-w-85 {
    width: 85%;  
  }
  
  .sm-w-90 {
    width: 90%;  
  }
  
  .sm-w-95 {
    width: 95%;  
  }
  
  .sm-w-100 {
    width: 100%;  
  }
  
  .sm-w-auto {
  	width: auto; 
  }
  
  // Max-Width Sizes
  
  .sm-mw-2em {
    max-width: 2em;  
  }
  
  .sm-mw-3em {
    max-width: 3em;  
  }
  
  .sm-mw-4em {
    max-width: 4em;  
  }
  
  .sm-mw-5em {
    max-width: 5em;  
  }
  
  .sm-mw-6em {
    max-width: 6em; 
  }
  
  .sm-mw-15em {
    max-width: 15em;  
  }
  
  .sm-mw-25em {
    max-width: 25em;  
  }
  
  .sm-mw-35em {
    max-width: 35em;  
  }
  
}

// > 768
@media (min-width: $break-lg-phone) {
  
  // Display Options
  
  .md-hidden {
    display: none;  
  }
  
  .md-block {
    display: block; 
  }
  
  .md-inline {
    display: inline;  
  }
  
  .md-inline-block {
    display: inline-block;  
  }
  
  .md-table {
    display: table; 
  }
  
  .md-table-cell {
    display: table-cell
  }
  
  // Postion

  .md-fixed {
    position: fixed;  
  }
  
  .md-absolute {
    position: absolute; 
  }
  
  .md-relative {
    position: relative; 
  }
  
  .md-static {
    position: static;
  }
  
  // Floats
  
  .md-float-none {
    float: none;  
  }

  .md-float-l {
    float: left;  
  }
  
  .md-float-r {
    float: left;  
  }

  // Width Sizes

  .md-w-5 {
    width: 5%;  
  }
  
  .md-w-10 {
    width: 10%;  
  }
  
  .md-w-15 {
    width: 15%;  
  }
  
  .md-w-20 {
    width: 20%;  
  }
  
  .md-w-25 {
    width: 25%;  
  }
  
  .md-w-30 {
    width: 30%;  
  }
  
  .md-w-35 {
    width: 35%;  
  }
  
  .md-w-40 {
    width: 40%;  
  }
  
  .md-w-45 {
    width: 45%;  
  }
  
  .md-w-50 {
    width: 50%;  
  }
  
  .md-w-55 {
    width: 55%;  
  }
  
  .md-w-60 {
    width: 60%;  
  }
  
  .md-w-65 {
    width: 65%;  
  }
  
  .md-w-70 {
    width: 70%;  
  }
  
  .md-w-75 {
    width: 75%;  
  }
  
  .md-w-80 {
    width: 80%;  
  }
  
  .md-w-85 {
    width: 85%;  
  }
  
  .md-w-90 {
    width: 90%;  
  }
  
  .md-w-95 {
    width: 95%;  
  }
  
  .md-w-100 {
    width: 100%;  
  }
  
  .md-w-auto {
  	width: auto; 
  }
  
  // Max-Width Sizes
  
  .mw-2em {
    max-width: 2em;  
  }
  
  .md-mw-3em {
    max-width: 3em;  
  }
  
  .md-mw-4em {
    max-width: 4em;  
  }
  
  .md-mw-5em {
    max-width: 5em;  
  }
  
  .md-mw-6em {
    max-width: 6em; 
  }
  
  .md-mw-15em {
    max-width: 15em;  
  }
  
  .md-mw-25em {
    max-width: 25em;  
  }
  
  .md-mw-35em {
    max-width: 35em;  
  }
  
}

// > 992
@media (min-width: $break-md-screen) {
  
  // Display Options
  
  .lg-hidden {
    display: none;  
  }
  
  .lg-block {
    display: block; 
  }
  
  .lg-inline {
    display: inline;  
  }
  
  .lg-inline-block {
    display: inline-block;  
  }
  
  .lg-table {
    display: table; 
  }
  
  .lg-table-cell {
    display: table-cell
  }
  
  // Postion

  .lg-fixed {
    position: fixed;  
  }
  
  .lg-absolute {
    position: absolute; 
  }
  
  .lg-relative {
    position: relative; 
  }
  
  .lg-static {
    position: static;
  }
  
  // Floats
  
  .lg-float-none {
    float: none;  
  }

  .lg-float-l {
    float: left;  
  }
  
  .lg-float-r {
    float: left;  
  }

  // Width Sizes

  .lg-w-5 {
    width: 5%;  
  }
  
  .lg-w-10 {
    width: 10%;  
  }
  
  .lg-w-15 {
    width: 15%;  
  }
  
  .lg-w-20 {
    width: 20%;  
  }
  
  .lg-w-25 {
    width: 25%;  
  }
  
  .lg-w-30 {
    width: 30%;  
  }
  
  .lg-w-35 {
    width: 35%;  
  }
  
  .lg-w-40 {
    width: 40%;  
  }
  
  .lg-w-45 {
    width: 45%;  
  }
  
  .lg-w-50 {
    width: 50%;  
  }
  
  .lg-w-55 {
    width: 55%;  
  }
  
  .lg-w-60 {
    width: 60%;  
  }
  
  .lg-w-65 {
    width: 65%;  
  }
  
  .lg-w-70 {
    width: 70%;  
  }
  
  .lg-w-75 {
    width: 75%;  
  }
  
  .lg-w-80 {
    width: 80%;  
  }
  
  .lg-w-85 {
    width: 85%;  
  }
  
  .lg-w-90 {
    width: 90%;  
  }
  
  .lg-w-95 {
    width: 95%;  
  }
  
  .lg-w-100 {
    width: 100%;  
  }
  
  .lg-w-auto {
  	width: auto; 
  }
  
  // Max-Width Sizes
  
  .lg-mw-2em {
    max-width: 2em;  
  }
  
  .lg-mw-3em {
    max-width: 3em;  
  }
  
  .lg-mw-4em {
    max-width: 4em;  
  }
  
  .lg-mw-5em {
    max-width: 5em;  
  }
  
  .lg-mw-6em {
    max-width: 6em; 
  }
  
  .lg-mw-15em {
    max-width: 15em;  
  }
  
  .lg-mw-25em {
    max-width: 25em;  
  }
  
  .lg-mw-35em {
    max-width: 35em;  
  }
  
}

// Layout Options

.media-left {
  
// align left is default
  
}

.media-right {
  
  
  // > 667
  @media (min-width: $break-ml-phone) {
    .post-wrap {
      flex-flow: row wrap;
    }
    .post-media {
      padding-left: 5%;  
      padding-right: 0; 
    }
  }
  
}


// Content Left

.content-left {
  text-align: left;
  .button-group {
    justify-content: flex-start;  
  }
  // Post Text
  .post-text,
  .post-text .button-group {
    padding-right: 0;
    padding-left: 0;  
  }
  

  // > 667
  @media (min-width: $break-ml-phone) {
    
    // content on left
    .post-wrap {
      flex-flow: row wrap;
    }
    
    // media
    .post-media {
      padding-right: 0;
      padding-left: 5%;  
    }
       
  }
  
}


// Content Right

.content-right {
  
  // > 480
  @media (min-width: $break-sm-phone) {
    
    // Hero Banner
    &.hero-banner {
      //text-align: left;
      .button-group {
        //justify-content: flex-start;
      }
    }
  }
  
  // > 540
  @media (min-width: $break-md-phone) {
    
    text-align: right;
    .button-group {
      justify-content: flex-end;
    }
    
    // Hero Banner
    &.hero-banner {
      .content-post {
        //padding-left: 25%;
      }
      .post-text {
        //padding-left: 2em;  
      } 
    }
    
  }
  
  // > 1200
  @media (min-width: $break-lg-screen) {
    
    // Hero Banner
    &.hero-banner {
      .content-post {
        //padding-left: 45%;
      }
    }
    
  }
    
}


// Content Center

.content-center {
  
  text-align: center;
        
  // Button Wrap    
  .button-group {
    justify-content: center;
  }
  
  // Banner Styles
  &.hero-banner,
  &.content-banner {
    //text-align: center;
    // Button Wrap    
    .button-group {
      //justify-content: center;
    } 
  }
  
  // > 540
  @media (min-width: $break-md-phone) {
    
    //text-align: center;
        
    // Button Wrap    
    .button-group {
      //justify-content: center;
    }
    
    // Hero Banner
    &.hero-banner {
      .post-text {
        margin: 0 auto;  
        max-width: 50em;  
      }
    }
    
  }
  // > 667
  @media (min-width: $break-ml-phone) {        
    &.hero-banner,
    &.content-banner {
      .post-title {
        padding-right: 2em;
        padding-left: 2em;
      }
    }  
  }
  
}


// Column: Media on Top

.post-col {
  
  // This flips media on top
  & > * {
    flex-flow: column-reverse;
    align-items: center;
  }
  // Content / Media
  .post-content,
  .post-media {
    padding-right: 0;
    padding-left: 0;  
    width: 100%;  
  }
  .post-content {  
    margin-bottom: 0;
  }
  .post-media {
    margin-bottom: 1em;
    padding-right: 0;  
  }
  
}


// Column: Media on Bottom

.post-col-rev {   
  // This ensures media on the bottom
  & > * {
    flex-flow: column;
    align-items: center;
    //max-width: 25em;  
    width: 100%;  
  }    
  .post-content,
  .post-media {
    width: 100%;  
  }
  .post-content {  
    margin-bottom: 1em;
  }
  .post-media {
    margin-bottom: 0;
    padding-right: 0;  
  }
  
}

// Post Content / Post Media sizes

.pc1-pm3 {
  
  // > 667
  @media (min-width: $break-ml-phone) {
    
    .post-content {
      width: 33%; 
    }
    .post-media {
      width: 67%; 
    }
  }
  
}

.pc3-pm1 {
  
  // > 667
  @media (min-width: $break-ml-phone) {
    .post-content {
      width: 67%; 
    }
    .post-media {
      width: 33%; 
    }
  }
  
}

.pc1-pm1 {
  
  // > 667
  @media (min-width: $break-ml-phone) {
    .post-content {
      width: 50%; 
    }
    .post-media {
      width: 50%; 
    }
  }
  
}

// displays media right

@mixin CTA-media-right {
  .post-wrap {
    flex-flow: row wrap;
  }
  .post-content {
    padding-left: 0;  
    padding-right: 5%; 
  }
}

// displays media left

@mixin CTA-media-left {
  .post-wrap {
    flex-flow: row-reverse wrap;
  }
  .post-content {
    padding-right: 0;
    padding-left: 5%;   
  }
}

// This displays every even row's media flipped to the right

@mixin CTA-row-flip-right {
  @include CTA-media-left;  
  &:nth-of-type(even) {         
    .post-wrap{
      flex-flow: row wrap;
    }
    .post-media {
      align-self: flex-end; 
    }
    .post-content {  
      padding-right: 5%; 
      padding-left: 0;  
    }
  }
}

// This displays every even row's media flipped to the left

@mixin CTA-row-flip-left {
  @include CTA-media-right; 
  &:nth-of-type(even) {         
    .post-wrap{
      flex-flow: row-reverse wrap;
    }
    .post-media {
      align-self: flex-end;
    }
    .post-content {  
      padding-right: 0; 
      padding-left: 5%;  
    }
  }
}